<h1>Listing assignments</h1>

<table>
  <thead>
    <tr>
      <th>Assignee</th>
      <th>Complete</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'class_assignments', locals: {class_assignments: @class_assignments} %>
  </tbody>

</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
