<h1>Listing class_assignments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody id="class-assignment">
  <%= render 'class_assignment' %>
</tbody>
</table>

<br>

<%= link_to 'New Class assignment', new_class_assignment_path, remote:true %>
<div id="new-class-assignment-modal" class="reveal-modal" data-reveal></div>
